.site-header {
  height: @header-height;
  border-bottom: 1px solid @gray-bd-lighter;
  .site-logo {
    display: inline-block;
    padding-left: 60px;
    height: 100%;
    line-height: @header-height;
    font-size: 20px;
    background: url(../image/logo.png) no-repeat left center;
    &:hover {
      text-decoration: none;
    }
  }
  ul {
    padding: 0;
    margin: 0;
  }

  li > a {
    color: @text-color-normal;
    &:hover {
      color: @text-color-primary;
      text-decoration: none;
    }
  }
  .nav > li {
    display: inline-block;
    & > a {
      display: inline-block;
      text-align: center;
      height: @header-height - 1;
      line-height: @header-height - 1;
      padding: 0 @header-padding;
      border-bottom: 2px solid transparent;
      vertical-align: top;
    }
    &.active > a{
      color: @text-color-primary;
      border-bottom: 2px solid @text-color-primary;
    }

    i {
      margin-left: 5px;
    }

    &.has-sub-nav {
      .sub-nav {
        display: none;
        position: absolute;
        padding: 0;
        margin: 0;
        top: @top-height + @header-height;

        border: 1px solid @gray-bd-lighter;
        border-top: none;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        background: @gray-bg-base;
        z-index: @zindex-navbar;
        > li{
          display: block;
          padding: 0 20px;
          height: @sub-nav-height;
          line-height: @sub-nav-height;
          border-bottom: 1px solid @gray-bd-lighter;
          &:last-child{
            border-bottom: none;
          }
          img{
            margin-right: 10px;
          }
        }
      }
      &:hover {
        .sub-nav {
          display: block;
        }
        &.active {
          > a {
            border-bottom: 2px solid transparent;
          }
        }
      }
    }
  }

}
