@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?w82a2f');
	src:url('../fonts/icomoon.eot?#iefixw82a2f') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?w82a2f') format('truetype'),
		url('../fonts/icomoon.woff?w82a2f') format('woff'),
		url('../fonts/icomoon.svg?w82a2f#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="nox-"], [class*=" nox-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.nox-anchor:before {
	content: "\e600";
}
.nox-android:before {
	content: "\e601";
}
.nox-appplayer:before {
	content: "\e602";
}
.nox-calendar:before {
	content: "\e603";
}
.nox-carrot:before {
	content: "\e604";
}
.nox-check-circle-o:before {
	content: "\e605";
}
.nox-document:before {
	content: "\e606";
}
.nox-dot:before {
	content: "\e607";
}
.nox-download:before {
	content: "\e608";
}
.nox-edit:before {
	content: "\e609";
}
.nox-exclamation-circle-o:before {
	content: "\e60a";
}
.nox-exclamation-circle:before {
	content: "\e60b";
}
.nox-facebook:before {
	content: "\e60c";
}
.nox-forbid-circle-o:before {
	content: "\e60d";
}
.nox-grid-o:before {
	content: "\e60e";
}
.nox-heart-empty:before {
	content: "\e60f";
}
.nox-heart-full:before {
	content: "\e610";
}
.nox-herb:before {
	content: "\e611";
}
.nox-info-circle-o:before {
	content: "\e612";
}
.nox-info-circle:before {
	content: "\e613";
}
.nox-lock-line:before {
	content: "\e614";
}
.nox-logo-circle-o:before {
	content: "\e615";
}
.nox-logo-circle:before {
	content: "\e616";
}
.nox-mail-line:before {
	content: "\e617";
}
.nox-mask:before {
	content: "\e618";
}
.nox-message:before {
	content: "\e619";
}
.nox-monitor:before {
	content: "\e61a";
}
.nox-more-circle-o:before {
	content: "\e61b";
}
.nox-pcgame:before {
	content: "\e61c";
}
.nox-phone-line:before {
	content: "\e61d";
}
.nox-plane:before {
	content: "\e61e";
}
.nox-play-circle-o .path1:before {
	content: "\e61f";
	color: rgb(0, 0, 0);
}
.nox-play-circle-o .path2:before {
	content: "\e620";
	margin-left: -1em;
	color: rgb(35, 24, 21);
}
.nox-plus:before {
	content: "\e621";
}
.nox-porker:before {
	content: "\e622";
}
.nox-qq:before {
	content: "\e623";
}
.nox-question-circle-o .path1:before {
	content: "\e624";
	color: rgb(35, 24, 21);
}
.nox-question-circle-o .path2:before {
	content: "\e625";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.nox-question-circle:before {
	content: "\e626";
}
.nox-qun:before {
	content: "\e627";
}
.nox-race:before {
	content: "\e628";
}
.nox-remove:before {
	content: "\e629";
}
.nox-run:before {
	content: "\e62a";
}
.nox-search:before {
	content: "\e62b";
}
.nox-sort-down:before {
	content: "\e62c";
}
.nox-sort-left:before {
	content: "\e62d";
}
.nox-sort-right:before {
	content: "\e62e";
}
.nox-sort-up:before {
	content: "\e62f";
}
.nox-star-empty:before {
	content: "\e630";
}
.nox-star-full-half:before {
	content: "\e631";
}
.nox-star-full:before {
	content: "\e632";
}
.nox-tool:before {
	content: "\e633";
}
.nox-trand:before {
	content: "\e634";
}
.nox-trash:before {
	content: "\e635";
}
.nox-upload:before {
	content: "\e636";
}
.nox-user:before {
	content: "\e637";
}
.nox-weibo:before {
	content: "\e638";
}
.nox-weixin:before {
	content: "\e639";
}
.nox-wifi:before {
	content: "\e63a";
}
