.nox-search-box {
  display: inline-block;
}
.nox-search-box input {
  width: 262px;
  margin: 0;
}
.nox-search-box i {
  width: 54px;
  border-top-right-radius: 2px;
  position: relative;
  left: -6px;
}
.nox-search-box i, .nox-search-box input {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  line-height: 30px;
}
.nox-search-box input, .nox-search-box input:focus {
  border: 1px solid #ccc;
  padding: 0 10px;
}
.btn-blue {
  color: #fff;
  background: #1ca7db;
  border: 1px solid #1ca7db;
}
.nox-search-box .search-sug {
  text-align: left;
  line-height: 32px;
}
